auto eth0
iface eth0 inet static
       address {{ eth0_ip }}
       netmask {{ eth0_netmask }}
       broadcast {{ eth0_broadcast }}
       mtu {{ eth0_mtu }}
       gateway {{ eth0_gateway }}
       dns-nameservers {{ eth0_dns }}
